<h1>Posts</h1>

<table class="table table-striped table-hover">
	<thread>
		<tr>
			<th>
				#
			</th>
			<th>
				Date
			</th>
			<th>
				User
			</th>
			<th>
				Rationale
			</th>
		</tr>
	</thread>
	<tbody>
		<% @posts.each do |post| %>		
			<%= render @posts %>	
		<% end %>	
	</tbody>
</table>		
